<div class="container">
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="سوده" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">First Name (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Sawada" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">First Name (En)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="عبدالله" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Second Name (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Abdel Allah" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Second Name (En)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="منصوري" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Last Name (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Mansori" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Last Name (EN)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="أميره" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Mother Name (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Amira" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Mother Name (En)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="لاعب" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Profission (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Player" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Profission (En)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="عبدالله" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Second Name (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Abdel Allah" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Second Name (En)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="منصوري" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Last Name (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Mansori" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Last Name (EN)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="أميره" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Mother Name (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Amira" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Mother Name (En)</label>
      </igx-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="لاعب" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Profission (Ar)</label>
      </igx-input-group>
    </div>
    <div class="col-md-6">
      <igx-input-group>
        <input igxInput [igxTextSelection]="true" value="Player" type="text"  [disabled]="'true'" />
        <label igxLabel for="email">Profission (En)</label>
      </igx-input-group>
    </div>
  </div>
</div>
