.sponsor-header {
  width: 100%;
padding: 10px;
background-blend-mode: lighten, saturation, normal;
	background-image: linear-gradient(#FFFFFFBF 0%, #FFFFFFBF 100%), linear-gradient(#FFFFFF1A 0%, #FFFFFF1A 100%), linear-gradient(#0099FF 0%, #0099FF 100%);
}
