<div class="sponsor-header">
  <div class="row">
    <div class="col-md-12 title-text">
      <span> Sponsor Information </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <span class="profile-text padding-left-10">22010200908767</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="profile-label padding-left-10">Application No.:</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <span class="profile-text">2016208001936</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="profile-label">Application ID:</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <span class="profile-text">Residence</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="profile-label">Visa Type:</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <span class="profile-text">New Residence For Newborn</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="profile-label">Application Type:</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <span class="profile-text">Dubai Now</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="profile-label">Submitted By:</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <span class="profile-text">25/06/2020 10:50 AM</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="profile-label">Submission Date:</span>
        </div>
      </div>
    </div>
  </div>
</div>
