<div class="row">
  <div class="col-md-12 title-text">
    <span> Sponsor Information </span>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <span class="profile-text padding-left-10">22018881</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="profile-label padding-left-10">Card Number:</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <span class="profile-text">Government 2</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="profile-label">Type:</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <span class="profile-text">Dubai (2)</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="profile-label">Emirate:</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <span class="profile-text">4/27/2029</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="profile-label">Card Expiry Date:</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <span class="profile-text">4/27/2099</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="profile-label">License Expiry Date:</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-12">
        <span class="profile-text">Awaatif Al Sadek</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="profile-label">Name:</span>
      </div>
    </div>
  </div>
</div>
