.app-header {
  width: 100%;
  background-blend-mode: lighten, saturation, normal;
  background-image: linear-gradient(#ffffff5e 0%, #ffffff5e 100%),
    linear-gradient(#ffffff2b 0%, #ffffff2b 100%),
    linear-gradient(#0099ff 0%, #0099ff 100%);
  padding-bottom: 20px;
}

.app-header-logo {
  //position: absolute;
  margin-top: 22px;
  margin-left: 21px;
  height: 63px;
  width: 250px;
}

.app-header-text {
  padding-top: 4px;
  height: 32px;
  font-family: "Helvetica";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.02em;
  line-height: 20px;
}

.searchbar-1 {
  width: 241px;
  min-width: 241px;
}
.search-2 {
  width: 97px;
  min-width: 97px;
  height: 50px;
  min-height: 50px;
  background-color: rgba(0, 153, 255, 1);
  background-color: rgba(255, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.logout-1 {
  background-color: rgba(0, 153, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.75);
  width: 97px;
  min-width: 97px;
  height: 50px;
  min-height: 50px;
}
