.app-header {
	width: 100%;
	height: 107px;
	background-blend-mode: lighten, saturation, normal;
	background-image: linear-gradient(#FFFFFF5E 0%, #FFFFFF5E 100%), linear-gradient(#FFFFFF2B 0%, #FFFFFF2B 100%), linear-gradient(#0099FF 0%, #0099FF 100%);
}
