<app-profile-card  [isSearch]="true"></app-profile-card>
<br/>
<div class="row">
  <div class="col-md-12">
    <igx-tabs>
      <igx-tabs-group label="PERSONAL INFORMATION">
        <app-personal-information></app-personal-information>
      </igx-tabs-group>
      <igx-tabs-group label="PASSPORT INFORMATION">
        <app-personal-information></app-personal-information>
      </igx-tabs-group>
      <igx-tabs-group label="VERIFY PPS">
        <app-personal-information></app-personal-information>
      </igx-tabs-group>
    </igx-tabs>
  </div>
</div>
