<div class="container">
  <div class="row minHeigth_content postLogin form-horizontal error-page">
    <div class="col-md-12">
      <h1>404</h1>
      <h3>The page you were trying to reach on the website couldn't be found on the server.</h3>
      <p class="mini-heading">YOU CAN TRY THE FOLLOWING:</p>
      <p>Retry the web page by pressing F5, clicking the refresh/reload button.</p>
      <p>Check if the URL is right and try typing the URL from the address bar again.</p>
      <a href="/" class="btn btn-primary btn-back">Go to previous screen</a>
    </div>
  </div>
</div>
