<div class="container-fluid">
  <!-- should be move to application-search component -->
  <div class="row application-container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <span class="application-title-text"> Bulk Application Processing Search </span>
        </div>
      </div>
      <div class="search-controls-container ">
        <!-- search controls here -->
          <div class="row form-group">
            <div class="col-md-2">
              <igx-input-group type="search" class="searchbar-1">
                <input igxInput  [(ngModel)]="searchRequest.sponsorNumber" type="text">
                <label igxLabel>Sponsor File Number</label>
              </igx-input-group>
            </div>
            <div class="col-md-2">
              <igx-combo #combo class="combo" [itemsMaxHeight]="255"
                         [data]="visaTypeLookup" [displayKey]="'name'"
                         [valueKey]="'id'" placeholder="Select Visa Type"
                         [(ngModel)]="searchRequest.visaType"
                         searchPlaceholder="Search...">
              </igx-combo>
            </div>
            <div class="col-md-2">
              <igx-combo #combo class="combo" [itemsMaxHeight]="255"
                         [data]="applicationStatusLookup" [displayKey]="'name'"
                         [valueKey]="'id'" placeholder="Select Application Status"
                         [(ngModel)]="searchRequest.applicationStatus"
                         searchPlaceholder="Search...">
              </igx-combo>
            </div>
            <div class="col-md-2">
              <igx-combo #combo class="combo" [itemsMaxHeight]="255"
                         [data]="applicationPriorityLookup" [displayKey]="'name'"
                         [valueKey]="'id'" placeholder="Select Application Priority"
                         [(ngModel)]="searchRequest.applicationPriority"
                         searchPlaceholder="Search...">
              </igx-combo>
            </div>
            <div class="col-md-2">
              <igx-date-picker [(ngModel)]="searchRequest.startDate">
              </igx-date-picker>
            </div>
            <div class="col-md-2">
              <igx-date-picker [(ngModel)]="searchRequest.endDate">
              </igx-date-picker>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-2">
              <igx-combo #combo class="combo" [itemsMaxHeight]="255"
                         [data]="countryLookup" [displayKey]="'name'"
                         [valueKey]="'id'" placeholder="Select From Nationality"
                         [(ngModel)]="searchRequest.nationalityFrom"
                         searchPlaceholder="Search...">
              </igx-combo>
            </div>
            <div class="col-md-2">
              <igx-combo #combo class="combo" [itemsMaxHeight]="255"
                         [data]="countryLookup" [displayKey]="'name'"
                         [valueKey]="'id'" placeholder="Select To Nationality"
                         [(ngModel)]="searchRequest.nationalityTo"
                         searchPlaceholder="Search...">
              </igx-combo>
            </div>
            <div class="col-md-3">
              <igx-checkbox [(ngModel)]="searchRequest.isAutoLoad" >
                Auto Load Applications After Save
              </igx-checkbox>
            </div>
            <!--
            <div class="col-md-1">
              <igx-select>
                <igx-select-item value="10">10</igx-select-item>
                <igx-select-item value="20">20</igx-select-item>
                <igx-select-item value="30">30</igx-select-item>
                <igx-select-item value="40">40</igx-select-item>
              </igx-select>
            </div>

            <div class="col-md-1">
              <igx-checkbox [(ngModel)]="isMaxApps" >
                MaxApps
              </igx-checkbox>
            </div>
            -->
            <div class="col-md-2 ml-auto">
              <button igxButton="fab" class="ngx-btn-icon">
                <igx-icon fontSet="material">filter_list</igx-icon>
              </button>
              <button igxButton="fab" (click)="searchApplications()" class="ngx-btn-icon">
                <igx-icon fontSet="material">search</igx-icon>
              </button>
              <button igxButton="fab" (click)="initSearchRequest()" class="ngx-btn-icon">
                <igx-icon fontSet="material">loop</igx-icon>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row row-no-gutters">
    <div class="col-md-12 seprator">
    </div>
  </div>

  <!-- should be move to application-result component -->
  <div class="row application-container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 sponsor-title-text">
          <span> Sponsor Information </span>
        </div>
      </div>
      <!-- sponsor information here -->
      <div class="row">
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <span class="profile-text padding-left-10">22018881</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="profile-label padding-left-10">Card Number:</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <span class="profile-text">Government 2</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="profile-label">Type:</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <span class="profile-text">Dubai (2)</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="profile-label">Emirate:</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <span class="profile-text">4/27/2029</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="profile-label">Card Expiry Date:</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <span class="profile-text">4/27/2099</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="profile-label">License Expiry Date:</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <span class="profile-text">Awaatif Al Sadek</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="profile-label">Name:</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row applciations-grid-result">
    <div class="col-md-12">
      <igx-grid [data]="applications" igxPreventDocumentScroll [paging]="true" [perPage]="10">
        <igx-column [width]="'1%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div>{{ cell.row.index + 1 }}</div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Picture" field="imageUrl" dataType="string" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <igx-avatar [src]="cell.row.rowData.imageUrl" roundShape="true" size="small"> </igx-avatar>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Applicant Name" field="applicantName" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Gender" field="gender" dataType="string" [width]="'6%'" sortable="true">
        </igx-column>
        <igx-column header="Date of Birth" field="dateOfBirth" dataType="Date" sortable="true">
        </igx-column>
        <igx-column header="Passport Number" field="passportNumber" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Nationality" field="nationality" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Profession" field="profession" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Visa Type" field="visaType" dataType="string" sortable="true" [width]="'12%'">
        </igx-column>
        <igx-column header="Profile" field="profileMatching" dataType="string">
        </igx-column>
        <igx-column header="Fee" field="feeStatus" dataType="boolean" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <app-application-state-icon [status]="cell.value ? 2 : 3"></app-application-state-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Documents" field="documentStatus" dataType="boolean" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <app-application-state-icon [status]="cell.value ? 2 : 3"></app-application-state-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="IBV" field="ibvStatus" dataType="number" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <app-application-state-icon [status]="cell.value"></app-application-state-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Pre-checks" field="preChecksStatus" dataType="number" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <app-application-state-icon [status]="cell.value"></app-application-state-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Validation" field="validationStatus" dataType="number" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <app-application-state-icon [status]="cell.value"></app-application-state-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Final Status" field="finalStatusName" dataType="string" sortable="true">
        </igx-column>
      </igx-grid>
    </div>
  </div>
</div>
