.application-search-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.application-search-title-text {
    line-height: 18px;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #0000009E;
    text-align: left;
    vertical-align: center;
}
