<div class="container-fluid">
  <!-- should be move to application-search component -->
  <div class="row application-container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <span class="application-title-text"> Bulk Application Processing Search </span>
        </div>
      </div>
      <div class="row search-controls-container">
        <!-- search controls here -->
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-2">
              <igx-input-group type="search" class="searchbar-1">
                <input igxInput type="text">
                <label igxLabel>Sponsor File Number</label>
              </igx-input-group>
            </div>
            <div class="col-md-2">
              <igx-combo #combo class="combo" [itemsMaxHeight]="255"
              [data]="visaTypeLookup" [displayKey]="'name'" [valueKey]="'id'"
              placeholder="Select Visa Type" searchPlaceholder="Search...">
          </igx-combo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-no-gutters">
    <div class="col-md-12 seprator">
    </div>
  </div>

  <!-- should be move to application-result component -->
  <div class="row application-container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <span class="application-title-text"> Sponsor Information </span>
        </div>
      </div>
      <div class="row">
        <!-- sponsor information here -->
        <div class="col-md-12">sponsor information here</div>
      </div>
    </div>
  </div>

  <div class="row applciations-grid-result">
    <div class="col-md-12">
      <igx-grid [data]="applications" igxPreventDocumentScroll [paging]="true" [perPage]="10">
        <igx-column [width]="'1%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div>{{ cell.row.index + 1 }}</div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Picture" field="imageUrl" dataType="string" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <igx-avatar [src]="cell.row.rowData.imageUrl" roundShape="true" size="small"> </igx-avatar>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Applicant Name" field="applicantName" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Gender" field="gender" dataType="string" [width]="'6%'" sortable="true">
        </igx-column>
        <igx-column header="Date of Birth" field="dateOfBirth" dataType="Date" sortable="true">
        </igx-column>
        <igx-column header="Passport Number" field="passportNumber" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Nationality" field="nationality" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Profession" field="profession" dataType="string" sortable="true">
        </igx-column>
        <igx-column header="Visa Type" field="visaType" dataType="string" sortable="true" [width]="'12%'">
        </igx-column>
        <igx-column header="Profile" field="profileMatching" dataType="string">
        </igx-column>
        <igx-column header="Fee" field="feeStatus" dataType="boolean" [width]="'6%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <igx-icon>check</igx-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Documents" field="documentStatus" dataType="boolean" [width]="'6%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <igx-icon>pin_drop</igx-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="IBV" field="ibvStatus" dataType="number" [width]="'5%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <igx-icon>pin_drop</igx-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Pre-checks" field="preChecksStatus" dataType="number" [width]="'6%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <igx-icon>pin_drop</igx-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Validation" field="validationStatus" dataType="number" [width]="'6%'">
          <ng-template igxCell let-cell="cell">
            <div class="cell__inner">
              <div class="icon-sample">
                <igx-icon>pin_drop</igx-icon>
              </div>
            </div>
          </ng-template>
        </igx-column>
        <igx-column header="Final Status" field="finalStatusName" dataType="string" sortable="true">
        </igx-column>
      </igx-grid>
    </div>
  </div>
</div>
