.application-title-text {
  line-height: 18px;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #0000009e;
  text-align: left;
  vertical-align: center;
}

.sponsor-title-text {
  line-height: 18px;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #0000009e;
  text-align: left;
  vertical-align: center;
  margin-bottom: 10px;
}

.application-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #00000005 !important;
}

.applciations-grid-result {
  width: 100%;
  padding-top: 10px;
}

.search-controls-container {
  padding-top: 10px;
}

igx-checkbox {
  margin-top: 5px;
  // background-color: rgba(19, 119, 213, 1);
}

.ngx-btn-icon {
  background-color: rgba(0, 153, 255, 1);
  color: white;
  margin-right: 15px;
}

.profile-label {
  height: 18px;
  width: 91px;
  font-family: "Helvetica";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.62);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 400;
}

.profile-text {
height: 20px;
width: 91px;
font-family: 'Helvetica';
font-size: 16px;
color: rgba(0, 0, 0, 0.87);
letter-spacing: 0.01em;
line-height: 24px;
font-weight: 600;
}

.padding-left-10 {
  padding-left: 10px;;
}

