.application-title-text {
    line-height: 18px;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #0000009E;
    text-align: left;
    vertical-align: center;
}

.application-container {
  padding-top: 10px;
  padding-bottom: 10px;
	background-color: #00000005 !important;
}

.applciations-grid-result {
  width: 100%;
  padding-top: 10px;
}

.search-controls-container{
padding-top: 10px;;
}
